.check-box {
  width: 80%;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
  .input-control {
    display: flex;
    position: relative;
    .check-inp {
      width: 3%;
    }
    .text-inp {
      margin-left: 20px;
      width: 97%;
      margin-bottom: 20px;
      @media only screen and (max-width: 400px) {
        font-size: 12px;
      }
    }
    .tick {
      color: rgb(15, 199, 15);
      position: absolute;
      padding: 10px;
      min-width: 40px;
      top: 1px;
      right: 25px;
      cursor: pointer;
      &:active {
        color: gray;
      }
    }
    .cross {
      color: black;
      position: absolute;
      padding: 10px;
      min-width: 40px;
      top: 1px;
      right: 0px;
      cursor: pointer;
    }
  }
  span {
    font-size: 14px;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      color: grey;
      font-size: 15px;
      transition: all 0.1s ease-in-out;
    }
  }
}
