.box {
  display: flex;
  .question-container {
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    width: 80%;
    background-color: white;
    .answer-container {
      margin-top: 30px;
      display: flex;
      .answer-type {
        width: 45%;
        min-width: fit-content;
        padding-right: 40px;
      }
      .answer-submission {
        width: 80%;
        input {
          margin-bottom: 20px;
        }
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    .btn {
      border-radius: 50%;
      margin-bottom: 20px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
