@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
}
.App {
  height: 100vh;
}
.background {
  width: 100vw;
  height: 30vh;
  background-color: gainsboro;
  position: absolute;
  z-index: -1;
  top: 0px;
}

@media only screen and (max-width: 500px) {
  .background {
    height: 33vh;
  }
}
